*{
    margin:0;
    padding: 0;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

body{
    font-family: "Open Sans", "sans-serif";
}

img{
    display: block;
    max-width: 100%;
}